<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @registration.student.try(:name) %>
</p>

<p>
  <strong>Field trip:</strong>
  <%= @registration.field_trip.try(:name) %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
