<%= form_for(@field_trip) do |f| %>
  <% if @field_trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field_trip.errors.count, "error") %> prohibited this field_trip from being saved:</h2>

      <ul>
      <% @field_trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :school_id %><br>
    <%= collection_select :field_trip, :school_id, School.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
